extends navHome

block content
    div#PageCheckin(style="width:50%;height:50%;float:left;margin-top:5%")
      img.navPage(src="/images/PageCheckin.svg" style="float:left;margin-left:17%;")

    div#PageCheckout(style="height:50%;margin-left:50%;")
      img.navPage(src="/images/PageCheckout.svg" style="margin-left:7%;margin-top:10%")
