extends navLibrary

block content
  h1 Book Search & Lookup
  p This is where you can search books.
  p You'll be able to see whether a book is available or not, and see some other information as well.
